/node_modules/
.idea/

/test/fixtures/gopath/pkg
/test/fixtures/gopath/bin

/test/system/fixtures/gopath/.cache
/test/system/fixtures/gopath/pkg
/test/system/fixtures/gopath/bin
/test/system/fixtures/gopath/src/**/vendor/*/

dist/
package-lock.json

# Diagnostic reports (https://nodejs.org/api/report.html) 
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.eslintcache
